<div class="container">
  <h2>Welcome to <%= @restaurant.name %></h2>
  
  <p>Find us at <%= @restaurant.address %></p>
  
  <hr>
  
  <h3>Reviews</h3>
  
  <div id="stimulus-controller" data-controller="insert-in-list">
    <h4>Add a Review</h4>
    <%= render 'restaurants/form', restaurant: @restaurant, review: @review %>
    <ul data-insert-in-list-target='items'>
      <% @restaurant.reviews.each do |review| %>
        <%= render 'restaurants/review', review: review %>
      <% end %>
    </ul>
  </div>
</div>